{
  config,
  pkgs,
  options,
  ...
}: let
  hostname = "{{HOSTNAME}}";
in {
  networking.hostName = hostname;

  imports = [
    /etc/nixos/hardware-configuration.nix
    (/home/pete/dotfiles/nixos + "/${hostname}.nix")
  ];
}
